node_modules
/platforms/android/
/platforms/platforms.json
/plugins/
/www/vendor.bundle.js
/www/index.html
/www/app.css
/www/assets/
/www/app.bundle.js
/platforms/android/.gradle/
/platforms/android/android.json
!/parche/node_modules
/plugins/fetch.json